body {
    background-image : url('../imagens/mountain-japanese.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lista {
  color: black;
  font-size: 18px;
}

.lista1 {
  color:  red;
}